[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
selenium = "*"
requests = "*"
flask = "==2.3.2"
djlint = "*"
bootstrap-flask = "==2.2.0"
flask-wtf = "==1.1.1"
wtforms = "==3.0.1"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
